.form-row label.l-width {
    width: 130px;
}

.multiselect {
    width: 100% !important;
}

.form-row input.multiselect-search {
    width: 100%;
}

.multiselect-clear-filter {
    display: none;
}

.dropdown-menu {
    width: 100% !important;
}
.multiselect-container {
    font-size: 10px !important;
}
.multiselect.dropdown-toggle input[type='button'] {
    width: 100% !important;
}

.multiselect-container input[type='checkbox'] {
    display: none;
}

.multiselect-container > li > a > label.radio {
    margin: 3px;
    margin-left: 30px;
    width: 90%;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 1px 20px 1px 20px;
    font-size: 13px;
}


.multiselect-container label.radio input[type='radio'] {
    display: none;
}
